$color-light-gray-100 : rgba(235,235,235,1);
$color-light-gray-75 : rgba(235,235,235,0.75);
$color-light-gray-50 : rgba(235,235,235,0.50);
$color-light-gray-25 : rgba(235,235,235,0.25);

$color-gray-100 : rgba(218,218,218,1);
$color-gray-75 : rgba(218,218,218,0.75);
$color-gray-50 : rgba(218,218,218,0.50);
$color-gray-25 : rgba(218,218,218,0.25);

$color-darker-gray-100 : rgba(109,108,108,1);
$color-darker-gray-75 : rgba(109,108,108,0.75);
$color-darker-gray-50 : rgba(109,108,108,0.50);
$color-darker-gray-25 : rgba(109,108,108,0.25);

$color-dark-gray-100 : rgba(37,37,37,1);
$color-dark-gray-75 : rgba(37,37,37,0.75);
$color-dark-gray-50 : rgba(37,37,37,0.50);
$color-dark-gray-25 : rgba(37,37,37,0.25);

$color-orange-100 : rgba(255, 148, 31, 1);
$color-orange-90 : rgba(255, 148, 31, 0.9);
$color-orange-75 : rgba(255, 148, 31, 0.75);
$color-orange-50 : rgba(255, 148, 31, 0.5);
$color-orange-25 : rgba(255, 148, 31, 0.25);

$color-white-100 : rgba(255,255,255,1);
$color-white-75 : rgba(255,255,255,0.75);
$color-white-50 : rgba(255,255,255,0.50);
$color-white-25 : rgba(255,255,255,0.25);

$color-red-100: rgba(234,82,80,1);
$color-red-75: rgba(234,82,80,0.75);
$color-red-50: rgba(234,82,80,0.5);
$color-red-25: rgba(234,82,80,0.25);

$color-green-100: rgba(152,212,144,1);
$color-green-75: rgba(152,212,144,0.75);
$color-green-50: rgba(152,212,144,0.5);
$color-green-25: rgba(152,212,144,0.25);

$main-gray-dark  : #252525;
$text : #252525;
$primary : #ff941f;