html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html{
	position:relative;
	min-height:100%;
}

body {
	font-family: 'Raleway', sans-serif;	
	margin: 0px;

	main {
		width: 100%;
	}

	.container {
		max-width: 1280px;
		margin: auto;
		padding:0;
		&.align-content-center{
			text-align: center;
		}
		&.align-content-right{
			text-align: right;
		}
	}
	.flex {
		display: flex;
	}

	::selection {
  		background: #34495e; /* WebKit/Blink Browsers */
  		color: #ecf0f1;
	}
	::-moz-selection {
		background: #34495e; /* Gecko Browsers */
		color: #ecf0f1;
	}
}

.wrapper{
	width: 100%;
	max-width:1280px;
	margin: auto;
	padding:0 40px;
}

.sparkle{
	color:$primary;
}

$footer-padding:40px;
$footer-min-height:124px; // excl padding
$footer-height:$footer-min-height+($footer-padding*1.5);

body{
	margin-bottom:$footer-height;
}

.alert-danger {
    color: #ca1915;
    background-color: #fffcfc;
    border-color: #ca1915;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0px;
    margin-top:20px;

    ul{
    	list-style-type:none;
    }

    li{
    	padding:3px 0;
    }
}
