/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px; }
  body main {
    width: 100%; }
  body .container {
    max-width: 1280px;
    margin: auto;
    padding: 0; }
    body .container.align-content-center {
      text-align: center; }
    body .container.align-content-right {
      text-align: right; }
  body .flex {
    display: -webkit-box;
    display: flex; }
  body ::-moz-selection {
    background: #34495e;
    /* WebKit/Blink Browsers */
    color: #ecf0f1; }
  body ::selection {
    background: #34495e;
    /* WebKit/Blink Browsers */
    color: #ecf0f1; }
  body ::-moz-selection {
    background: #34495e;
    /* Gecko Browsers */
    color: #ecf0f1; }

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 40px; }

.sparkle {
  color: #ff941f; }

body {
  margin-bottom: 184px; }

.alert-danger {
  color: #ca1915;
  background-color: #fffcfc;
  border-color: #ca1915; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0px;
  margin-top: 20px; }
  .alert ul {
    list-style-type: none; }
  .alert li {
    padding: 3px 0; }

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400; }
  body h1, body h2, body h3, body h4, body h5, body h6, body strong {
    font-weight: 700; }

[class^="btn"],
.btn {
  background-color: transparent;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 1em !important;
  text-align: center !important;
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
  text-decoration: none; }
  [class^="btn"]:hover,
  .btn:hover {
    color: #6d6c6c; }
  [class^="btn"].btn-full,
  .btn.btn-full {
    width: 100%; }
  [class^="btn"].btn-small,
  .btn.btn-small {
    font-size: 0.8rem !important; }

.btn-default {
  border-color: #ff941f;
  color: #ff941f !important;
  display: inline-block;
  margin: 10px; }
  .btn-default:hover {
    background-color: #ff941f;
    color: white !important;
    border-color: #ff941f; }

.btn-default-inverse {
  background-color: #ff941f;
  color: white !important;
  display: inline-block; }
  .btn-default-inverse:hover {
    border-color: #ff941f;
    color: #ff941f !important;
    background-color: #fff; }

.btn-social-action-small {
  padding: 5px !important;
  font-size: 1em;
  font-weight: 100;
  border: 0px;
  margin: 0px;
  color: rgba(109, 108, 108, 0.75) !important;
  display: inline-block; }
  .btn-social-action-small:hover {
    color: #ff941f !important; }

.btn-secondary {
  padding: 5px !important;
  font-size: 1em;
  font-weight: 100;
  border: 0px;
  margin: 0px;
  color: #6d6c6c !important;
  border: 1px solid #6d6c6c;
  display: inline-block; }
  .btn-secondary:hover {
    color: white !important;
    background-color: #6d6c6c; }

.btn-remove {
  padding: 5px !important;
  font-size: 1em;
  font-weight: 100;
  border: 0px;
  margin: 0px;
  color: #ea5250 !important;
  border-color: #ea5250;
  display: inline-block; }
  .btn-remove:hover {
    color: white !important;
    background-color: #ea5250; }

.btn-remove-inverse {
  padding: 5px !important;
  font-size: 1em;
  font-weight: 100;
  border: 0px;
  margin: 0px;
  color: white !important;
  background-color: #ea5250;
  display: inline-block; }
  .btn-remove-inverse:hover {
    color: #ea5250 !important;
    border-color: #ea5250;
    background-color: transparent; }

#main-nav-mobile {
  display: none;
  padding: 20px; }
  #main-nav-mobile ul li {
    margin: 20px 0; }
  #main-nav-mobile ul a {
    color: #252525;
    font-size: 19px;
    font-weight: 600;
    padding: 15px 0; }
    #main-nav-mobile ul a:hover, #main-nav-mobile ul a:active {
      color: #ff941f; }

#hamburger {
  width: auto;
  height: 45px;
  margin: 11px 20px;
  text-align: center;
  display: none; }
  #hamburger a {
    display: block;
    height: 100%;
    color: #252525;
    padding: 10px 0;
    font-size: 25px; }

#mainnav {
  width: 100%;
  position: relative;
  z-index: 11;
  border: 0 none;
  margin-bottom: 0;
  background: #fff;
  border-radius: 0px; }
  #mainnav .navbar-nav {
    margin: 0; }
  #mainnav .top-menu {
    background: #ebebeb;
    padding: 0 20px; }
  #mainnav .logo-link {
    display: inline-block;
    padding: 15px 20px;
    float: left; }
    #mainnav .logo-link img {
      width: 115px; }
  #mainnav .brand {
    display: inline-block;
    padding: 23px 0;
    float: left;
    font-weight: 700;
    position: relative; }
    #mainnav .brand a {
      color: #252525;
      -webkit-transition: .4s ease-in-out;
      transition: .4s ease-in-out; }
      #mainnav .brand a:hover {
        color: #ff941f;
        text-decoration: none; }
  #mainnav .main-menu a,
  #mainnav .secundary-menu a {
    color: #252525;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-font-smoothing: antialiased; }
    #mainnav .main-menu a:hover,
    #mainnav .secundary-menu a:hover {
      color: #ff941f;
      text-decoration: none; }
  #mainnav .main-menu li,
  #mainnav .secundary-menu li {
    display: inline-block; }
  #mainnav .main-menu .nav-user-picture,
  #mainnav .secundary-menu .nav-user-picture {
    position: relative;
    width: 34px;
    height: 34px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: -12px;
    margin-left: 5px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    border-radius: 50%; }
  #mainnav .main-menu .dropdown,
  #mainnav .secundary-menu .dropdown {
    display: block; }
    #mainnav .main-menu .dropdown button#dropdownMenu1.dropdown-toggle,
    #mainnav .secundary-menu .dropdown button#dropdownMenu1.dropdown-toggle {
      border: 0px;
      margin: 16px 0;
      padding: 0 10px;
      color: #252525;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out;
      -webkit-font-smoothing: antialiased; }
      #mainnav .main-menu .dropdown button#dropdownMenu1.dropdown-toggle:hover,
      #mainnav .secundary-menu .dropdown button#dropdownMenu1.dropdown-toggle:hover {
        color: #ff941f; }
    #mainnav .main-menu .dropdown ul.dropdown-menu,
    #mainnav .secundary-menu .dropdown ul.dropdown-menu {
      margin: 0px; }
  #mainnav .main-menu {
    display: block;
    text-align: center; }
    #mainnav .main-menu a {
      display: block;
      padding: 24px 20px !important;
      letter-spacing: 1px;
      font-weight: 400; }
    #mainnav .main-menu .btn-sparkle {
      background: #ff941f;
      color: #fff;
      text-transform: none !important;
      padding-left: 45px !important;
      padding-right: 45px !important;
      border: 0 none !important; }
      #mainnav .main-menu .btn-sparkle:hover {
        color: #252525; }
  #mainnav .secundary-menu a {
    display: block;
    margin: 13px 0;
    padding: 0 10px;
    letter-spacing: 1px;
    font-weight: 400; }
    #mainnav .secundary-menu a:hover {
      color: #ff941f; }
  #mainnav .secundary-menu li:first-child a {
    border-right: 2px solid #252525;
    padding-right: 14px; }
  #mainnav .secundary-menu .dropdown-toggle {
    width: 100%;
    display: inline-block;
    background: none; }
  #mainnav .secundary-menu .dropdown-menu {
    right: 0;
    left: initial;
    padding: 0;
    border-top: 2px solid #ebebeb; }
    #mainnav .secundary-menu .dropdown-menu li {
      display: inline-block;
      width: 100%; }
      #mainnav .secundary-menu .dropdown-menu li a {
        display: block;
        width: 100%;
        padding: 20px;
        margin: 0;
        font-weight: bold; }
      #mainnav .secundary-menu .dropdown-menu li:hover {
        display: inline-block;
        width: 100%; }
    #mainnav .secundary-menu .dropdown-menu li:first-child a {
      border-right: none;
      padding-right: auto; }
  #mainnav .secundary-menu .user-menu:first-child a {
    border-right: none;
    padding-right: 10px; }

.site-slogan {
  font-size: 12px;
  font-weight: 400;
  padding: 16px 0; }
  .site-slogan strong {
    font-weight: 600; }

@media screen and (max-width: 830px) {
  #mainnav .main-menu li:first-child {
    display: none; } }

@media screen and (max-width: 790px) {
  #mainnav .main-menu {
    display: none; }
  #hamburger {
    display: block; } }

@media screen and (max-width: 768px) {
  .site-slogan {
    display: none; }
  #mainnav .secundary-menu {
    float: none !important;
    display: block;
    clear: both;
    text-align: right; }
    #mainnav .secundary-menu li {
      width: 100%; }
      #mainnav .secundary-menu li:first-child a {
        border: none; } }

.page-footer {
  padding: 40px;
  width: 100%;
  background-color: #252525;
  color: #252525;
  font-size: 12px;
  text-align: center;
  position: absolute;
  min-height: 124px;
  z-index: 10;
  border-top: 3px solid #ff941f; }
  .page-footer div.bottom {
    border-top: 1px solid rgba(218, 218, 218, 0.25);
    padding: 25px;
    clear: both; }
  .page-footer p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    clear: both;
    padding-bottom: 15px; }
  .page-footer div.social {
    width: 100%;
    max-width: 152px;
    margin: 0px auto 25px;
    min-height: 25px; }
    .page-footer div.social ul li {
      list-style: none;
      padding: 10px;
      float: left; }
      .page-footer div.social ul li i {
        font-size: 20px; }
  .page-footer i {
    color: #ff941f; }

.authenticate {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .authenticate .split {
    display: table-cell;
    vertical-align: middle;
    padding: 40px;
    -webkit-font-smoothing: antialiased; }
    .authenticate .split img {
      width: 100%;
      max-width: 350px; }
  .authenticate .left {
    background: url("../images/main-image.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50%;
    text-align: center;
    height: 600px; }
  .authenticate .right h1 {
    font-size: 42px;
    margin-bottom: 35px;
    color: #ff941f; }
  .authenticate .right p {
    color: #252525;
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
    margin: 20px 0; }
  .authenticate .form input[type="text"],
  .authenticate .form input[type="email"],
  .authenticate .form input[type="password"] {
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    margin: 10px 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    font-weight: normal;
    font-size: 19px;
    border: 1px solid #ebebeb;
    padding: 2.5%;
    width: 100%; }
    .authenticate .form input[type="text"]:focus,
    .authenticate .form input[type="email"]:focus,
    .authenticate .form input[type="password"]:focus {
      border-color: #ff941f;
      outline: 0;
      box-shadow: none; }
  .authenticate .form input[type="submit"] {
    height: 45px;
    border-radius: 0;
    margin: 10px 0;
    padding: 0 35px !important;
    text-transform: none !important;
    display: block; }
  .authenticate .form a {
    color: #ff941f;
    font-weight: 700;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    .authenticate .form a:hover {
      color: #252525;
      text-decoration: none; }
  .authenticate a.btn.btn-default-inverse.btn-facebook:link,
  .authenticate a.btn.btn-default-inverse.btn-facebook:active,
  .authenticate a.btn.btn-default-inverse.btn-facebook:visited {
    background-color: #3B5998 !important; }
  .authenticate a.btn.btn-default-inverse.btn-facebook:hover {
    background-color: #23355b !important;
    color: #ebebeb !important;
    border: 2px solid #23355b !important; }
  .authenticate a.btn i {
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 10px; }
  .authenticate.resetpassword .form input[type="email"],
  .authenticate.resetpassword .form input[type="password"] {
    width: 100%; }

.password-reset {
  text-align: right;
  margin-bottom: 20px; }

@media screen and (max-width: 765px) {
  .authenticate {
    display: block;
    table-layout: none; }
    .authenticate .split {
      display: block;
      vertical-align: none; }
    .authenticate .left {
      background: url("../images/brand.jpg") no-repeat;
      background-size: cover;
      width: 100%;
      height: auto; }
    .authenticate .form input[type="text"],
    .authenticate .form input[type="email"],
    .authenticate .form input[type="password"] {
      width: 100%; } }

.projectsoverview {
  margin-bottom: 50px; }
  .projectsoverview .header {
    width: 100%;
    min-height: 200px; }
    .projectsoverview .header iframe {
      width: 100%;
      height: 100%;
      min-height: 400px;
      margin-top: -124px; }
    .projectsoverview .header .title {
      display: inline;
      padding: 25px 0px 66px;
      position: relative;
      top: 188px; }
    .projectsoverview .header h1 {
      display: inline;
      font-size: 52px;
      padding: 0px 12px 12px;
      color: #ebebeb;
      font-weight: 300;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
    .projectsoverview .header h2 {
      display: inline;
      font-size: 24px;
      padding: 0px 12px;
      color: #ebebeb;
      font-weight: 100;
      display: block;
      max-width: 450px;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
    .projectsoverview .header ul li {
      margin-left: 12px;
      float: left;
      padding: 12px 2px 12px 0px;
      list-style: none; }
      .projectsoverview .header ul li i {
        font-size: 16px;
        color: #ebebeb; }
        .projectsoverview .header ul li i:hover {
          color: #ff941f; }
  .projectsoverview nav {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    background-color: white; }
    .projectsoverview nav ul.nav-tabs {
      border-bottom: 1px solid #F1EEEA;
      max-width: 1200px;
      margin: 0px auto; }
      .projectsoverview nav ul.nav-tabs li {
        border: 0px; }
        .projectsoverview nav ul.nav-tabs li a {
          border: 0px;
          padding: 15px 5px;
          margin: 0px 15px;
          font-size: 18px;
          line-height: 1.58;
          color: #252525;
          font-weight: 300; }
          .projectsoverview nav ul.nav-tabs li a:hover {
            border: 0px;
            color: #ff941f;
            background-color: transparent;
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            -webkit-font-smoothing: antialiased; }
      .projectsoverview nav ul.nav-tabs li.active a {
        font-weight: 400;
        border-bottom: 3px solid #ff941f; }
      .projectsoverview nav ul.nav-tabs li.active:hover {
        color: #252525; }
      .projectsoverview nav ul.nav-tabs .btn.btn-default-inverse {
        margin-top: 11px;
        margin-right: 25px; }
  .projectsoverview .row {
    max-width: 1200px;
    margin: 0px auto; }
    .projectsoverview .row h3 {
      padding: 25px 0px 15px;
      color: #252525;
      font-size: 35px;
      font-weight: 300; }
    .projectsoverview .row h4 {
      padding-top: 10px;
      font-size: 18px;
      line-height: 1.58;
      color: #252525;
      font-weight: 500; }
    .projectsoverview .row p {
      padding: 0px 25px 10px 0px;
      font-size: 18px;
      line-height: 1.58;
      color: #252525;
      font-weight: 300; }
    .projectsoverview .row img {
      width: 100%;
      margin: 25px 0px; }
    .projectsoverview .row iframe {
      width: 100%;
      min-height: 350px;
      margin: 25px 0px; }
    .projectsoverview .row blockquote {
      width: 100%;
      max-width: 650px;
      margin: 25px auto; }
      .projectsoverview .row blockquote p {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 2px;
        line-height: 1.58; }
      .projectsoverview .row blockquote footer {
        font-size: 18px;
        line-height: 1.58;
        color: #252525;
        font-weight: 300; }
  .projectsoverview .financing {
    margin-top: 25px; }
    .projectsoverview .financing .row .col-md-6 {
      margin-bottom: 15px; }
      .projectsoverview .financing .row .col-md-6:first {
        display: none; }
      .projectsoverview .financing .row .col-md-6 span {
        font-weight: 300; }
      .projectsoverview .financing .row .col-md-6 p {
        font-weight: 500;
        font-size: 20px; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 10px; }
  .container h1 {
    font-size: 42pt;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding-top: 25px;
    text-align: center; }
  .container h3 {
    font-size: 16pt;
    padding-top: 15px;
    font-weight: 400;
    text-align: center; }
    .container h3 i {
      font-weight: 600; }
  .container p {
    padding-top: 25px;
    text-align: center; }
    .container p i {
      font-weight: 200;
      display: block;
      padding-top: 5px; }
  .container a.btn.btn-default-inverse {
    margin: 40px auto 0px;
    display: block;
    width: 100%;
    max-width: 160px; }

.banner {
  width: 100%;
  margin-top: 50px; }
  .banner h2 {
    font-size: 46px;
    color: #ebebeb;
    font-weight: 300;
    display: block;
    padding: 75px;
    width: 100%;
    text-align: center;
    background-color: #252525; }
    .banner h2 i {
      color: #ff941f;
      margin-left: 10px; }
  .banner .row {
    width: 100%;
    margin: 0px; }
    .banner .row .col-md-6 {
      padding: 40px 20px;
      text-align: center;
      color: #252525; }
      .banner .row .col-md-6 h3 {
        padding-bottom: 15px; }
      .banner .row .col-md-6 p {
        line-height: 16pt;
        padding: 0px 40px 20px; }
    .banner .row .color {
      background-color: rgba(218, 218, 218, 0.5); }
    .banner .row form {
      margin-top: 10px;
      margin-bottom: 35px; }
      .banner .row form input.input {
        width: 100%;
        max-width: 250px;
        font-size: 14px;
        padding: 8px 1em;
        color: #252525;
        border: 2px solid #dadada;
        border-radius: 4px; }
    .banner .row .social-buttons a.btn.btn-default {
      width: 100%;
      max-width: 150px;
      margin: 10px auto; }

@media screen and (max-width: 678px) {
  .banner h2 {
    padding: 55px 20px;
    font-size: 36px; } }

.front-header {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  height: auto; }
  .front-header .call-to-shift {
    font-size: 95px;
    width: auto;
    -webkit-font-smoothing: antialiased;
    line-height: 85px;
    color: #fff;
    padding: 75px 120px;
    text-align: center; }
    .front-header .call-to-shift .sparkle {
      font-weight: 300;
      font-size: 54px; }
    .front-header .call-to-shift span {
      display: block; }
  .front-header .action-bar {
    clear: both;
    width: auto;
    margin-bottom: 50px; }
    .front-header .action-bar ul {
      list-style-type: none;
      padding: 0 35px;
      text-align: center; }
    .front-header .action-bar li {
      display: inline-block;
      padding: 0 5px;
      padding-bottom: 20px; }
    .front-header .action-bar li:last-child a {
      background: #fff;
      color: #252525; }
      .front-header .action-bar li:last-child a:hover {
        color: #ff941f; }
    .front-header .action-bar a {
      display: block;
      padding: 15px 40px;
      background: #ff941f;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      -webkit-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }
      .front-header .action-bar a:hover {
        text-decoration: none;
        color: #252525; }

.content #intro {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .content #intro .split {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 40px; }
  .content #intro .shift-brand {
    text-align: center;
    background: #ff941f;
    background-size: cover; }
    .content #intro .shift-brand img {
      width: 200px; }
  .content #intro .storytext {
    -webkit-font-smoothing: antialiased; }
    .content #intro .storytext h2 {
      font-size: 48px;
      font-weight: 600; }
    .content #intro .storytext p {
      font-size: 19px;
      line-height: 26px;
      margin: 20px 0;
      color: #252525;
      font-weight: 300; }
      .content #intro .storytext p strong {
        font-weight: 600; }
  .content #intro a.btn {
    display: block;
    width: 100%;
    max-width: 120px;
    margin: 40px auto 0px; }

.content #angeldotme {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .content #angeldotme .split {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 40px; }
  .content #angeldotme .shift-brand {
    text-align: center;
    background: #ff941f;
    background-size: cover; }
    .content #angeldotme .shift-brand img {
      width: 200px; }
  .content #angeldotme .storytext {
    -webkit-font-smoothing: antialiased; }
    .content #angeldotme .storytext h2 {
      font-size: 48px;
      font-weight: 600; }
    .content #angeldotme .storytext p {
      font-size: 19px;
      line-height: 26px;
      margin: 20px 0;
      color: #252525;
      font-weight: 300; }
      .content #angeldotme .storytext p strong {
        font-weight: 600; }
  .content #angeldotme .btn {
    display: block;
    width: 100%;
    max-width: 120px;
    margin: 40px auto 0px; }

.content #howto h2 {
  text-align: center;
  padding: 75px;
  font-size: 46px;
  background: #252525;
  color: #ebebeb;
  font-weight: 300;
  margin-top: -1px; }
  .content #howto h2 .icon {
    color: #ff941f; }

.content #howto .howto {
  display: table;
  table-layout: fixed;
  width: 100%; }
  .content #howto .howto h3 {
    text-align: center;
    color: #ff941f;
    font-size: 46px;
    font-weight: 400; }
    .content #howto .howto h3 i {
      margin: 0 20px;
      font-size: 36px; }
  .content #howto .howto ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 300; }
    .content #howto .howto ul i {
      font-size: 26px;
      margin-right: 10px; }
  .content #howto .howto li {
    list-style-type: none;
    font-size: 19px;
    color: #252525;
    line-height: 26px;
    margin: 20px 0; }
  .content #howto .howto #accordion {
    border: 0px;
    background-color: transparant; }
    .content #howto .howto #accordion h3 {
      color: #252525;
      display: block;
      width: 100%;
      text-align: left;
      font-size: 12pt;
      padding: 20px 0px;
      font-weight: 400;
      background-color: white;
      border: 0px;
      border-radius: 0px;
      border-bottom: 3px solid #ff941f; }
    .content #howto .howto #accordion h3.ui-state-default {
      background: white; }
    .content #howto .howto #accordion p {
      font-family: 'Raleway', sans-serif;
      width: 100%;
      padding: 0px;
      color: rgba(37, 37, 37, 0.75);
      font-size: 19px;
      line-height: 26px;
      font-weight: 300;
      padding: 10px 0px; }
    .content #howto .howto #accordion h3:hover {
      cursor: pointer; }
    .content #howto .howto #accordion div {
      margin-bottom: 40px;
      border: 0px;
      background-color: transparant; }
    .content #howto .howto #accordion div.ui-accordion-content-active {
      padding: 0px;
      margin: 0px; }
    .content #howto .howto #accordion h3 span {
      font-size: 9pt; }

.content #howto .split {
  display: table-cell;
  padding: 40px;
  vertical-align: middle;
  width: 100%; }

.content #howto a.btn.btn-default {
  width: 100%;
  max-width: 120px;
  margin: 0px auto 40px;
  display: block; }

.content #goal {
  color: #252525;
  display: table;
  table-layout: fixed;
  width: 100%; }
  .content #goal .split {
    padding: 75px 40px;
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .content #goal .left {
    background: #ebebeb; }
    .content #goal .left p {
      margin: 20px 0;
      font-size: 19px; }
    .content #goal .left i {
      margin-left: 15px; }
  .content #goal .right p {
    font-size: 19px;
    line-height: 26px;
    font-weight: 300; }
  .content #goal h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 300; }
  .content #goal .safety-measures .circle {
    display: inline-block;
    padding: 15px;
    background: #ff941f;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; }
  .content #goal .safety-measures li {
    list-style-type: none;
    margin: 25px 0;
    padding: 25px;
    border-bottom: 1px solid #ebebeb; }

.content #register {
  color: #252525;
  display: table;
  table-layout: fixed;
  width: 100%; }
  .content #register .split {
    padding: 75px 40px;
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .content #register .left {
    -webkit-font-smoothing: antialiased; }
    .content #register .left h2 {
      font-size: 48px;
      font-weight: 600; }
    .content #register .left p {
      font-size: 19px;
      line-height: 26px;
      margin: 20px 0;
      color: #252525;
      font-weight: 300; }
      .content #register .left p i {
        color: #ff941f;
        margin-left: 15px; }
  .content #register .right {
    background: #ebebeb; }
    .content #register .right p {
      font-size: 19px;
      line-height: 26px;
      font-weight: 300; }
    .content #register .right .form input[type="text"],
    .content #register .right .form input[type="email"],
    .content #register .right .form input[type="password"] {
      height: 45px;
      line-height: 45px;
      border-radius: 0;
      margin: 10px 0;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      font-weight: normal;
      font-size: 19px;
      border: 1px solid #ebebeb;
      padding: 2.5%;
      width: 100%; }
      .content #register .right .form input[type="text"]:focus,
      .content #register .right .form input[type="email"]:focus,
      .content #register .right .form input[type="password"]:focus {
        border-color: #ff941f;
        outline: 0;
        box-shadow: none; }
    .content #register .right .form input[type="submit"] {
      height: 45px;
      border-radius: 0;
      margin: 10px 0;
      padding: 0 35px !important;
      text-transform: none !important;
      display: block; }
    .content #register .right .form a {
      color: #ff941f;
      font-weight: 700;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
      .content #register .right .form a:hover {
        color: #252525;
        text-decoration: none; }
  .content #register h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 300; }

@media screen and (max-width: 678px) {
  #intro .split {
    display: block;
    vertical-align: none;
    width: 50%;
    padding: 40px;
    float: left; }
  #intro .storytext {
    text-align: left; }
  #intro .shift-brand img {
    width: 140px; }
  #angeldotme .split {
    display: block;
    vertical-align: none;
    width: 50%;
    padding: 40px;
    float: left; }
  #angeldotme .storytext {
    text-align: left; }
  #angeldotme .shift-brand img {
    width: 140px; }
  #howto h2 {
    padding: 75px 40px;
    font-size: 42px; }
  #howto .howto {
    display: block;
    table-layout: none; }
    #howto .howto h3 {
      font-size: 42px; }
  #howto .split {
    display: block;
    vertical-align: none;
    width: 50%;
    padding: 40px;
    float: left; }
  #goal .split {
    padding: 75px 40px;
    display: block;
    vertical-align: none;
    width: 50%;
    float: left; }
  #goal .safety-measures li {
    padding: 25px 0; }
  #register .split {
    padding: 75px 40px;
    display: block;
    vertical-align: none;
    width: 50%;
    float: left; }
  #register .safety-measures li {
    padding: 25px 0; } }

@media screen and (max-width: 540px) {
  .front-header .call-to-shift {
    font-size: 54px;
    line-height: 54px;
    padding: 100px 40px 60px 40px; }
    .front-header .call-to-shift .sparkle {
      font-size: 36px; }
  #intro .split {
    display: block; }
  #angeldotme .split {
    display: block; }
  #howto .split {
    display: block; } }

.dashboard_side_menu {
  margin: 0px;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  width: 300px;
  float: right; }
  .dashboard_side_menu li {
    background-color: rgba(235, 235, 235, 0.5);
    border-bottom: 3px solid #ff941f; }
    .dashboard_side_menu li .dashboard_title_area {
      border: 0px;
      padding-top: 25px;
      font-family: "Raleway", sans-serif;
      font-weight: 600; }
    .dashboard_side_menu li .content {
      padding: 20px;
      color: #6d6c6c; }
      .dashboard_side_menu li .content .btn {
        margin: 10px; }
  .dashboard_side_menu .dashboard_side_menu_profile_completer #profilecompleteprogressbarContainer {
    width: 80%;
    margin: auto;
    margin-bottom: 15px; }
  .dashboard_side_menu .dashboard_side_menu_verification .verification_level {
    padding: 5px 0px;
    color: rgba(255, 148, 31, 0.75); }
  .dashboard_side_menu .dashboard_side_menu_verification .verification_types {
    margin-top: 10px; }
    .dashboard_side_menu .dashboard_side_menu_verification .verification_types section {
      margin-bottom: 5px; }
    .dashboard_side_menu .dashboard_side_menu_verification .verification_types i.fa {
      color: #98D490; }
  .dashboard_side_menu .dashboard_side_menu_links {
    padding: 10px; }
    .dashboard_side_menu .dashboard_side_menu_links a:link,
    .dashboard_side_menu .dashboard_side_menu_links a:visited,
    .dashboard_side_menu .dashboard_side_menu_links a:hover,
    .dashboard_side_menu .dashboard_side_menu_links a:active {
      display: block;
      text-decoration: none;
      color: #ff941f;
      padding-bottom: 5px; }
    .dashboard_side_menu .dashboard_side_menu_links a:hover {
      text-decoration: underline; }
  .dashboard_side_menu .dashboard_side_menu_verification_settings a:link,
  .dashboard_side_menu .dashboard_side_menu_verification_settings a:visited,
  .dashboard_side_menu .dashboard_side_menu_verification_settings a:hover,
  .dashboard_side_menu .dashboard_side_menu_verification_settings a:active {
    display: block;
    text-decoration: none;
    color: #ff941f;
    padding-bottom: 10px; }
  .dashboard_side_menu .dashboard_side_menu_verification_settings a:hover {
    text-decoration: underline; }

@media screen and (max-width: 960px) {
  .dashboard_side_menu {
    display: none; } }

section.user-page section.banner {
  margin-top: 0px; }
  section.user-page section.banner h2 {
    padding: 35px;
    border-bottom: 3px solid #ff941f; }

section.user-page div.alert.alert-danger {
  width: 85%;
  margin: 20px auto;
  border-radius: 10px; }

section.user-page .align-left {
  text-align: left !important; }

section.user-page .orange {
  background-color: #ff941f; }

section.user-page img {
  padding: 50px; }

.user-page {
  display: block;
  margin-left: 300px;
  min-height: 80vh; }
  .user-page .dashboard_content .dashboard_banner {
    width: 100%;
    padding: 0px 2.5%;
    display: block;
    border-top: 10px solid #ff941f;
    border-bottom: 3px solid rgba(218, 218, 218, 0.5);
    background-color: rgba(235, 235, 235, 0.25); }
    .user-page .dashboard_content .dashboard_banner ul.nav-tabs {
      border: 0px;
      border-radius: 0px; }
    .user-page .dashboard_content .dashboard_banner ul.nav-tabs > li > a:link {
      background-color: transparent;
      border: 0px;
      font-size: 10pt;
      font-weight: 600;
      padding: 20px 10px;
      margin-right: 0px;
      border-radius: 0px; }
    .user-page .dashboard_content .dashboard_banner ul.nav-tabs > li.active > a:link {
      background-color: rgba(235, 235, 235, 0.75); }
    .user-page .dashboard_content .dashboard_banner ul.nav-tabs > li > a:hover {
      text-decoration: underline;
      background-color: rgba(235, 235, 235, 0.25); }
    .user-page .dashboard_content .dashboard_banner ul.nav-tabs > li.active > a:hover {
      text-decoration: none; }
  .user-page .dashboard_content .dashboard_content_item {
    width: 95%;
    margin: 20px 2.5%;
    border-radius: 5px; }
    .user-page .dashboard_content .dashboard_content_item span.dashboard_title_area {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-size: 9pt;
      padding: 25px 0px; }
    .user-page .dashboard_content .dashboard_content_item .btn.btn-default.pull-right {
      margin-bottom: 45px; }
    .user-page .dashboard_content .dashboard_content_item .form_division p {
      text-decoration: underline;
      padding: 25px 0px; }
    .user-page .dashboard_content .dashboard_content_item .btn-default {
      margin: 0px; }
    .user-page .dashboard_content .dashboard_content_item .form-group {
      margin-bottom: 25px; }
      .user-page .dashboard_content .dashboard_content_item .form-group label {
        font-size: 10pt;
        color: rgba(109, 108, 108, 0.75);
        text-transform: uppercase;
        font-weight: 900;
        padding-bottom: 5px; }
      .user-page .dashboard_content .dashboard_content_item .form-group input {
        font-weight: 600;
        padding: 15px 10px; }
      .user-page .dashboard_content .dashboard_content_item .form-group input::-webkit-input-placeholder {
        font-weight: 300; }
      .user-page .dashboard_content .dashboard_content_item .form-group input::-moz-placeholder {
        font-weight: 300; }
      .user-page .dashboard_content .dashboard_content_item .form-group input:-ms-input-placeholder {
        font-weight: 300; }
      .user-page .dashboard_content .dashboard_content_item .form-group input:-moz-placeholder {
        font-weight: 300; }

@media screen and (max-width: 960px) {
  .user-page {
    margin-left: 250px; } }

@media screen and (max-width: 768px) {
  .user-page {
    margin-left: 80px; } }

#dashboard-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 108px;
  width: 300px;
  height: 100%;
  background: #252525;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 9; }
  #dashboard-menu hr {
    border-top: 2px solid #353535; }
  #dashboard-menu #user-info {
    width: 100%;
    padding: 20px 25px 0 25px; }
    #dashboard-menu #user-info img {
      width: 80px;
      -o-object-fit: cover;
      object-fit: cover;
      height: 80px;
      border: 4px solid #353535;
      float: left;
      display: block;
      border-radius: 15px; }
    #dashboard-menu #user-info h2 {
      float: left;
      width: auto;
      padding: 15px;
      text-transform: capitalize;
      color: rgba(218, 218, 218, 0.75); }
      #dashboard-menu #user-info h2 i.fa.fa-check {
        color: #ff941f;
        padding-left: 5px; }
    #dashboard-menu #user-info h3 {
      display: block;
      width: 150px;
      float: left;
      padding: 0 15px;
      font-size: 12px; }
      #dashboard-menu #user-info h3 a {
        color: #ff941f;
        font-weight: 400; }
  #dashboard-menu #profilepicchanger .input-not-displayed {
    display: none; }
  #dashboard-menu #profilepicchanger .btn {
    margin: 10px 0;
    clear: both; }
  #dashboard-menu .dashboard-nav li {
    width: 100%;
    display: block;
    clear: both;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    #dashboard-menu .dashboard-nav li:hover a {
      text-decoration: none;
      color: #ff941f; }
    #dashboard-menu .dashboard-nav li:hover .icon {
      color: rgba(218, 218, 218, 0.75); }
  #dashboard-menu .dashboard-nav a {
    color: #fff;
    display: block;
    float: none;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
    #dashboard-menu .dashboard-nav a:hover {
      text-decoration: none; }
  #dashboard-menu .dashboard-nav .active {
    border-left: 3px solid #ff941f; }
    #dashboard-menu .dashboard-nav .active a {
      color: #ff941f; }
    #dashboard-menu .dashboard-nav .active .icon {
      color: rgba(218, 218, 218, 0.75);
      padding-left: 22px; }
  #dashboard-menu .dashboard-nav .icon {
    display: block;
    float: left;
    color: #353535;
    font-size: 30px;
    padding: 23px 25px;
    width: 25%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  #dashboard-menu .dashboard-nav .menu-link {
    display: block;
    float: left;
    width: 75%;
    padding: 30px 20px; }
  #dashboard-menu .dashboard-invest li {
    background: #ff941f;
    color: #fff; }
    #dashboard-menu .dashboard-invest li:hover a {
      color: #252525; }
    #dashboard-menu .dashboard-invest li:hover .icon {
      color: #252525; }
  #dashboard-menu .dashboard-invest a {
    color: #fff; }

@media screen and (max-width: 960px) {
  #dashboard-menu {
    width: 250px; }
    #dashboard-menu #user-info h3 {
      width: 120px; } }

@media screen and (max-width: 768px) {
  #dashboard-menu {
    width: 80px;
    padding-top: 112px; }
    #dashboard-menu #user-info {
      width: 100%;
      padding: 0; }
      #dashboard-menu #user-info img {
        width: 80px;
        -o-object-fit: cover;
        object-fit: cover;
        height: 80px;
        border: 4px solid #353535;
        float: left;
        display: block; }
      #dashboard-menu #user-info h2 {
        display: none; }
      #dashboard-menu #user-info h3 {
        display: none; }
    #dashboard-menu #profilepicchanger {
      display: none; }
    #dashboard-menu .dashboard-nav .active .icon {
      color: #ff941f; }
    #dashboard-menu .dashboard-nav .icon {
      float: none;
      width: 100%; }
    #dashboard-menu .dashboard-nav .menu-link {
      display: none; } }

.company .row {
  padding: 0px;
  margin: 0px; }
  .company .row .col-md-6 {
    padding: 20px;
    margin: 0px 0px; }
    .company .row .col-md-6 div.content {
      width: 100%;
      max-width: 350px;
      margin: 0px 10px 20px;
      border: 2px solid #dadada;
      border-radius: 5px;
      padding: 20px; }
      .company .row .col-md-6 div.content i {
        font-size: 36pt;
        color: #ff941f;
        float: left; }
      .company .row .col-md-6 div.content p {
        color: #252525;
        padding-left: 55px; }
      .company .row .col-md-6 div.content p.title {
        padding-bottom: 10px;
        font-weight: bold; }
