section.user-page
{
	section.banner
	{
		margin-top:0px;
		
		h2
		{
			padding:35px;
			border-bottom:3px solid $primary;
		}
	}
		div.alert.alert-danger
		{
			width:85%;
			margin: 20px auto;
			border-radius:10px;
		}

		.align-left
		{
			text-align:left !important;
		}
		
		.orange
		{
			background-color:$primary;
		}
	
		img
		{
			padding:50px;
		}
}