.user-page{
	display:block;
	margin-left:300px;
	min-height:80vh;

	.dashboard_content{

		.dashboard_banner{
			width:100%;
			padding: 0px 2.5%;
			display:block;
			border-top: 10px solid $primary;
			border-bottom: 3px solid $color-gray-50;
			background-color: $color-light-gray-25;

			ul.nav-tabs{
				border: 0px;
				border-radius: 0px;
			}
			ul.nav-tabs>li>a:link{
				background-color: transparent;
				border: 0px;
				font-size: 10pt;
				font-weight: 600;
				padding: 20px 10px;
				margin-right: 0px;
				border-radius: 0px;
			}
			ul.nav-tabs>li.active>a:link{
				background-color: $color-light-gray-75;
			}
			ul.nav-tabs>li>a:hover{
				text-decoration: underline;
				background-color: $color-light-gray-25;
			}
			ul.nav-tabs>li.active>a:hover{
				text-decoration: none;
			}

		}

		.dashboard_content_item{
			width: 95%;
			margin: 20px 2.5%;
			border-radius: 5px; 

			span.dashboard_title_area
			{
				display: block;
				width: 100%;
				text-transform: uppercase;
				font-size: 9pt;
				padding: 25px 0px;
			}
			.btn.btn-default.pull-right
			{
				margin-bottom:45px;
			}
			.form_division
			{
				p{
					text-decoration: underline;
					padding: 25px 0px;
				}
			}
			.btn-default{
				margin: 0px;
			}
			.form-group{
				margin-bottom: 25px;

				label{
					font-size: 10pt;
					color: $color-darker-gray-75;
					text-transform: uppercase;
					font-weight: 900;
					padding-bottom: 5px;
				}

				input{
					font-weight: 600;
					padding: 15px 10px;
				}

				input::-webkit-input-placeholder{
					font-weight: 300;
				}

				input::-moz-placeholder{
					font-weight: 300;
				}

				input:-ms-input-placeholder{
					font-weight: 300;
				}

				input:-moz-placeholder{
					font-weight: 300;
				}

			}
		}
	}
}

@media screen and (max-width:960px){
	.user-page{
		margin-left:250px;
	}
}

@media screen and (max-width:768px){
	.user-page{
		margin-left:80px;
	}
}