.container{
	
	width:100%;
	max-width: 960px;
	margin: 0px auto;
	padding: 0px 10px;

	h1{
		font-size: 42pt;
		font-family: 'Raleway', sans-serif;
		font-weight: 100;
		padding-top: 25px;	
		text-align:center;
	}
	h3{
		font-size: 16pt;
		padding-top: 15px;
		font-weight:400;
		text-align: center;

		i{
			font-weight: 600;
		}
	}

	p{
		padding-top: 25px;
		text-align:center;

		i{
			font-weight: 200;
			display: block;
			padding-top: 5px;
		}
	}

	a.btn.btn-default-inverse
	{
		margin: 40px auto 0px;
		display:block;
		width:100%;
		max-width:160px;
	}
	

}

.banner{
	width:100%;
	margin-top:50px;

	h2{
		font-size: 46px;
		color:#ebebeb;
		font-weight:300;
		display:block;
		padding:75px;
		width:100%;
		text-align:center;
		background-color: $color-dark-gray-100;


		i{
			color: $primary;
			margin-left: 10px;
		}
	}

	.row{
		width:100%;
		margin:0px;

		.col-md-6{
			padding: 40px 20px;
			text-align:center;
			color:$color-dark-gray-100;

			h3{
				padding-bottom:15px;
			}

			p{
				line-height:16pt;
				padding: 0px 40px 20px;
			}
		}

		.color{
			background-color: $color-gray-50;
		}

		form{
			margin-top:10px;
			margin-bottom:35px;
		
			input.input{
				width:100%;
				max-width: 250px;
				font-size: 14px;
				padding: 8px 1em;
				color:$color-dark-gray-100;
				border: 2px solid $color-gray-100;
				border-radius:4px;
			}
		}
		
		.social-buttons{

			a.btn.btn-default{
				width:100%;
				max-width: 150px;
				margin: 10px auto;
			}
		}
	}

}

@media screen and(max-width:678px){
	.banner{

		h2{
			padding:55px 20px;
			font-size:36px;
		}
	}
}