.front-header{
	position:relative;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	z-index:0;
	height:auto;

	.call-to-shift{
		font-size:95px;
		width:auto;
		-webkit-font-smoothing: antialiased;
		line-height: 85px;
		color:#fff;
		padding:75px 120px;
		text-align:center;

		.sparkle{
			font-weight: 300;
			font-size:54px;
		}

		span{
			display:block;
		}
	}

	.action-bar{
		clear:both;
		width:auto;
		margin-bottom:50px;

		ul{
			list-style-type: none;
			padding:0 35px;
			text-align: center;
		}

		li{
			display: inline-block;
			padding:0 5px;
			padding-bottom:20px;
		}

		li:last-child{
			a{
				background:#fff;
				color:$main-gray-dark;

				&:hover{
					color:$primary;
				}
			}
		}

		a{
			display:block;
			padding:15px 40px;
			background:$primary;
			color:#fff;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 2px;
			transition: .2s ease-in-out;

			&:hover{
				text-decoration: none;
				color:$main-gray-dark;
			}
		}
	}
}

.content{



#intro{
	display:table;
	table-layout:fixed;
	width:100%;

	.split{
		display:table-cell;
		vertical-align: middle;
		width:100%;
		padding:40px;
	}

	.shift-brand{
		text-align:center;
		background:$primary;
		background-size:cover;


		img{
			width:200px;
		}
	}

	.storytext{
		-webkit-font-smoothing: antialiased;

		h2{
			font-size:48px;
			font-weight: 600;
		}
		p{
			font-size:19px;
			line-height: 26px;
			margin:20px 0;
			color:$text;
			font-weight: 300;
			
			strong{
			font-weight: 600;
			}
		}

	}
	a.btn{
		display:block;
		width:100%;
		max-width:120px;
		margin:40px auto 0px;
	}
}
#angeldotme{
	display:table;
	table-layout:fixed;
	width:100%;

	.split{
		display:table-cell;
		vertical-align: middle;
		width:100%;
		padding:40px;
	}

	.shift-brand{
		text-align:center;
		background:$primary;
		background-size:cover;


		img{
			width:200px;
		}
	}

	.storytext{
		-webkit-font-smoothing: antialiased;

		h2{
			font-size:48px;
			font-weight: 600;
		}
		p{
			font-size:19px;
			line-height: 26px;
			margin:20px 0;
			color:$text;
			font-weight: 300;
			
			strong{
			font-weight: 600;
			}
		}

	}

	.btn{
		display:block;
		width:100%;
		max-width:120px;
		margin:40px auto 0px;
	}
}
#howto{

	h2{
		text-align:center;
		padding:75px;
		font-size:46px;
		background:$main-gray-dark;
		color:$color-light-gray-100;
		font-weight:300;
		margin-top:-1px;
		
		.icon{
			color:$primary;
		}
	}
	
	.howto{
		display:table;
		table-layout:fixed;
		width:100%;

		h3{
			text-align:center;
			color:$primary;
			font-size:46px;
			font-weight: 400;

			i{
				margin:0 20px;
				font-size:36px;
			}
		}

		ul{
			margin:0;
			padding:0;
			text-align: center;
			font-weight: 300;

			i{
				font-size:26px;
				margin-right:10px;
			}
		}

		li{
			list-style-type: none;
			font-size:19px;
			color:$text;
			line-height: 26px;
			margin:20px 0;
		}
		
		#accordion
		{
			border:0px;
			background-color:transparant;

			h3
			{
				color:$color-dark-gray-100;
				display:block;
				width:100%;
				text-align: left;
				font-size:12pt;
				padding: 20px 0px;
				font-weight:400;
				background-color:$color-white-100;
				border:0px;
				border-radius:0px;
				border-bottom: 3px solid $primary;
			}
			h3.ui-state-default
			{
				background:$color-white-100;
			}
			p{
				font-family: 'Raleway', sans-serif;
				width:100%;
				padding:0px;
				color:$color-dark-gray-75;
			    font-size: 19px;
			    line-height: 26px;
			    font-weight: 300;
				padding: 10px 0px;
			}
			h3:hover
			{
				cursor: pointer;

			}
			div
			{
				margin-bottom: 40px;
				border:0px;
				background-color:transparant;
			}
			div.ui-accordion-content-active
			{
				padding:0px;
				margin:0px;
			}
			h3 span
			{
				font-size: 9pt;
			}

		}
	}

	.split{
		display:table-cell;
		padding:40px;
		vertical-align: middle;
		width:100%;
	}
	a.btn.btn-default
	{
		width: 100%;
	    max-width: 120px;
	    margin: 0px auto 40px;
	    display: block;
	}
}

#goal{
	color:$text;
	display:table;
	table-layout:fixed;
	width:100%;

	.split{
		padding:75px 40px;
		display:table-cell;
		vertical-align: middle;
		width:100%;	
	}

	.left{
		background:$color-light-gray-100;

		p{
			margin:20px 0;
			font-size:19px;
		}

		i{
			margin-left:15px;
		}		
	}

	.right{
		p{
			font-size:19px;
			line-height: 26px;
			font-weight:300;
		}
	}

	h2{
		text-align:center;
		font-size:36px;
		font-weight:300;
	}

	.safety-measures{
		.circle{
			display:inline-block;
			padding:15px;
			background:$primary;
			text-align:center;
			color:#fff;
			font-size:20px;
			line-height: 1;
		    width: 50px;
		    height: 50px;
		    border-radius: 50%;
		    float:left;
		    margin-right:20px;
		    margin-bottom:20px;

		}

		li{
			list-style-type: none;
			margin:25px 0;
			padding:25px;
			border-bottom:1px solid $color-light-gray-100;
		}
	}
}
#register{
	color:$text;
	display:table;
	table-layout:fixed;
	width:100%;

	.split{
		padding:75px 40px;
		display:table-cell;
		vertical-align: middle;
		width:100%;	
	}

	.left{
		
		-webkit-font-smoothing: antialiased;

		h2{
			font-size:48px;
			font-weight: 600;
		}
		p{
			font-size:19px;
			line-height: 26px;
			margin:20px 0;
			color:$text;
			font-weight: 300;

			i{
				color:$primary;
				margin-left:15px;
			}
		}

		
	}

	.right{
		background:$color-light-gray-100;
		p{
			font-size:19px;
			line-height: 26px;
			font-weight:300;
		}

		.form{
		input[type="text"],
		input[type="email"],
		input[type="password"]{
			height:45px;
			line-height: 45px;
			border-radius:0;
			margin:10px 0;
			transition: .3s ease-in-out;
			font-weight:normal;
			font-size:19px;
			border:1px solid $color-light-gray-100;
			padding:2.5%;
			width:100%;

			&:focus{
				border-color:$primary;
			    outline: 0;
			    -webkit-box-shadow:none;
			   	box-shadow:none;		
			}
		}

		input[type="submit"]{
			height:45px;
			border-radius:0;
			margin:10px 0;			
			padding:0 35px!important;
			text-transform: none!important;
			display:block;
		}

		a{
			color:$primary;
			font-weight:700;
			transition: .3s ease-in-out;

			&:hover{
				color:$main-gray-dark;
				text-decoration: none;
			}
		}

}
	}

	h2{
		text-align:center;
		font-size:36px;
		font-weight:300;
	}
}


}


@media screen and(max-width:678px){
	#intro{

		.split{
			display:block;
			vertical-align:none;
			width:50%;
			padding:40px;
			float:left;
		}

		.storytext{
			text-align: left;
		}

		.shift-brand{

			img{
				width: 140px;
			}
		}
	}

	#angeldotme{

		.split{
			display:block;
			vertical-align:none;
			width:50%;
			padding:40px;
			float:left;
		}

		.storytext{
			text-align: left;
		}

		.shift-brand{

			img{
				width: 140px;
			}
		}
	}

	#howto{

		h2{
			padding:75px 40px;
			font-size:42px;
		}
		
		.howto{
			display:block;
			table-layout:none;

			h3{
				font-size:42px;
			}
		}

		.split{
			
			display:block;
			vertical-align:none;
			width:50%;
			padding:40px;
			float:left;

		}

	}

	#goal{

		.split{
			padding:75px 40px;
			display:block;
			vertical-align: none;
			width:50%;
			float:left;
		}

		.safety-measures{
			li{
				padding:25px 0;
			}
		}
	}

	#register{

		.split{
			padding:75px 40px;
			display:block;
			vertical-align: none;
			width:50%;
			float:left;
		}

		.safety-measures{
			li{
				padding:25px 0;
			}
		}
	}
}

@media screen and (max-width:540px){
	.front-header{
		.call-to-shift{
			font-size:54px;
			line-height: 54px;
			padding:100px 40px 60px 40px;

			.sparkle{
				font-size:36px;
			}
		}
	}

	#intro{
		.split
		{
			display:block;
		}
	}

	#angeldotme{
		.split
		{
			display:block;
		}
	}

	#howto{

		.split
		{
			display:block;
		}
	}
}