.projectsoverview{
	margin-bottom: 50px;
	.header{
		
		width: 100%;
		min-height: 200px;
		
		iframe{
			width: 100%;
			height: 100%;
			min-height: 400px;
			margin-top: -124px;
		}
		
		.title
		{
			display: inline;
			padding: 25px 0px 66px;
			position: relative;
			top: 188px;
		}
		h1{
			display: inline;
			font-size: 52px;
			padding: 0px 12px 12px;
			color: $color-light-gray-100;
			font-weight: 300;
			text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
		}
		h2{
			display: inline;
			font-size: 24px;
			padding: 0px 12px;
			color: $color-light-gray-100;
			font-weight: 100;
			display: block;
			max-width:450px;
			text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
		}
		ul li 
		{
			margin-left:12px;
			float:left;
			padding: 12px 2px 12px 0px;
			list-style: none;
			
			i{
				font-size: 16px;
				color: $color-light-gray-100;

			&:hover{
				color:$primary;
			}

			}
		}
	}
	nav{
		box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
		background-color: white;

		ul.nav-tabs{
			border-bottom: 1px solid #F1EEEA;
			max-width: 1200px;
			margin: 0px auto;

			li{
				border:0px;
				
				a{
					border:0px;
					padding: 15px 5px;
					margin: 0px 15px;
					font-size: 18px;
					line-height: 1.58;
					color: $text;
					font-weight: 300;

					&:hover{
						border:0px;
						color:$primary;
						background-color: transparent;
						-webkit-transition: .2s ease-in-out;
					    transition: .2s ease-in-out;
					    -webkit-font-smoothing: antialiased;
					}
				}
			}
			li.active
			{
				a{
					font-weight: 400;
					border-bottom: 3px solid $primary;
				}

				&:hover{
					color: $text;
				}
			}
			.btn.btn-default-inverse{
					margin-top: 11px;
					margin-right: 25px;
				}
		}
	}
	.row
	{
		max-width: 1200px;
		margin: 0px auto;

		h3{
			padding: 25px 0px 15px;
			color: $text;
			font-size: 35px;
			font-weight: 300;
		}
		h4{
			padding-top: 10px;
			font-size: 18px;
			line-height: 1.58;
			color: $text;
			font-weight: 500;
		}
		p{
			padding: 0px 25px 10px 0px;
			font-size: 18px;
			line-height: 1.58;
			color: $text;
			font-weight: 300;
		}
		img{
			width: 100%;
			margin: 25px 0px;
		}
		iframe{
			width: 100%;
			min-height: 350px;
			margin: 25px 0px;
		}
		blockquote{
			width: 100%;
			max-width: 650px;
			margin: 25px auto;

			p{
				text-transform: uppercase;
				font-size: 22px;
				font-weight: 400;
				font-style: italic;
				letter-spacing: 2px;
				line-height: 1.58;
			}
			footer{
				font-size: 18px;
				line-height: 1.58;
				color: $text;
				font-weight: 300;
	
			}
		}
	}
	.financing
	{
		margin-top: 25px;

		.row .col-md-6
		{
			
			margin-bottom: 15px;
			
			&:first{
				display:none;
			}

			span{
				font-weight: 300;
			}

			p{
				font-weight: 500;
				font-size: 20px;
			}
		}
	}

}