.dashboard_side_menu {
	margin: 0px;
	list-style-type: none;
	text-align: center;
	padding: 0px;
	width:300px;
	float:right;

	li {
		background-color: $color-light-gray-50;
		border-bottom:3px solid $primary;
		
		.dashboard_title_area {
			border: 0px;
			padding-top:25px;
			font-family: "Raleway", sans-serif;
			font-weight:600;
		}
		.content {
			padding: 20px;
			color: $color-darker-gray-100;

			.btn{
				margin:10px;
			}
		}
	}
	.dashboard_side_menu_profile_completer{
		#profilecompleteprogressbarContainer {
			width: 80%;
			margin: auto;
			margin-bottom: 15px;
		}
	}
	.dashboard_side_menu_verification {
		.verification_level {
			padding: 5px 0px;
			color: $color-orange-75;
		}
		.verification_types {
			margin-top: 10px;
			section {
				margin-bottom: 5px;	
			}
			i.fa {
				color: #98D490;	
			}
		}
	}
	.dashboard_side_menu_links {
		padding: 10px;
		a:link,	
		a:visited,	
		a:hover,	
		a:active {
			display: block;
			text-decoration: none;
			color: $color-orange-100;
			padding-bottom: 5px;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.dashboard_side_menu_verification_settings {
		
		a:link,	
		a:visited,	
		a:hover,	
		a:active {
			display: block;
			text-decoration: none;
			color: $color-orange-100;
			padding-bottom: 10px;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width:960px){
	.dashboard_side_menu {
		display:none;
	}

}
