.page-footer{
	padding:$footer-padding;
	width: 100%;
	background-color:$main-gray-dark;
	color: $text;
	font-size: 12px;
	text-align: center;
	position:absolute;
	min-height:$footer-min-height;
	z-index:10;
	border-top:3px solid $primary;

	div.bottom
	{
		border-top: 1px solid $color-gray-25;
		padding: 25px;
		clear: both;
	}
	p{
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight:bold;
		clear:both;
		padding-bottom: 15px;
	}

	div.social
	{
		width: 100%;
		max-width: 152px;
		margin: 0px auto 25px;
		min-height: 25px;
		ul li 
		{
			list-style: none;
			padding: 10px;
			float: left;

			i
			{
				font-size:20px;
			}
		}
	}

	
	i{
		color: $primary;
	}
}