::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-darker-gray-50;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-darker-gray-50;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-darker-gray-50;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-darker-gray-50;
}

.input_bottom_border {
	padding: 5px;
  border: none;
  border-bottom: 2px solid $color-gray-100;
	font-size: 0.8em;
	color: $color-dark-gray-100;
	transition: .3s ease-in-out;
  &:focus,
  &:active {
    outline: none;
    border-bottom: 2px solid $color-orange-100;
  }
}
select.input_bottom_border{
	background-color: transparent;
}
.form-labeled-field-full {
	text-align:left;
	padding: 15px;
	width: 100%;
	label {
		display: inline-block;
		text-align:right;
		padding-right:3%;
		width:25%;
		float:left;
	}
	label{
		font-size:14px;
		height:40px;
		line-height:40px;
	}
	input {
		display: inline-block;
		width: 75%;
		float:left;
	}
	input{
		font-size:16px;
		height:40px;
		line-height:40px;
	}
}
.form-labeled-textarea-full{
	text-align:left;
	padding: 15px;
	width: 100%;
	label {
		display: inline-block;
		text-align:right;
		padding-right:3%;
		float:left;
		width:25%;
	}
	label{
		font-size:14px;
		height:40px;
		line-height:40px;
	}
	textarea {
		display: inline-block;
		width: 75%;
		float:left;
	}
	textarea{
		font-size:16px;
	}
}
.form-labeled-select-full{
	text-align:left;
	margin-top: 25px;
	margin-bottom: 5px;
	padding: 15px;
	width: 100%;
	label {
		display: inline-block;
		text-align:right;
		font-size:14px;
		padding-right:3%;
		float:left;
		width:25%;
	}
	select {
		display: inline-block;
		width: 75%;
		float:left;
	}
}
.form-labeled-fileuploader-full{
	display: block;
	text-align: center;
	span.guidelines {
		display:block;
		font-size:0.8em;
		margin-top: 5px;
	}
	input {
		padding:5px 0px;
		margin: auto;
	}
}
.form-labeled-field-full,
.form-labeled-textarea-full,
.form-labeled-select-full{
	.form-field-notes {
		color: $color-darker-gray-100;
		font-size: 0.8em;
		width: 100%;
		padding: 10px 0px;
		display: inline-block;
		text-align: right;
		font-style: italic;
	}
}
.form-labeled-select-half {
	text-align:right;
	padding: 15px;
	width: 49%;
	display: inline-block;
	label {
		display: inline-block;
		text-align:right;
		padding-right:1%;
	}
	select {
		display: inline-block;
		width: 80%;
	}
}
.form-button-wrapper {
	
	&.align-button-right {
		text-align: right;
	}
}
.input-not-displayed {
	display: none;
}

.formheader {
	color: $color-orange-100;
	text-align: center;
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 25px;
}