.company
{
	.row
	{
		padding:0px;
		margin:0px;	

		.col-md-6
		{
			padding: 20px;
			margin: 0px 0px;
			
			div.content
			{
				width:100%;
				max-width:350px;
				margin: 0px 10px 20px;
				border: 2px solid $color-gray-100;
				border-radius:5px;
				padding:20px;

				i{
					font-size:36pt;
					color:$primary;
					float:left;
				}
				p{
					color:$color-dark-gray-100;
					padding-left:55px;
				}
				p.title
				{
					padding-bottom:10px;
					font-weight: bold;
				}
			}
		}
	}

}